html,
body {
  background-color: $color-background-content;
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;
  width: 100%;
}

.ul-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.a-unstyled {
  text-decoration: none;
}

.p-unstyled {
  margin: 0;
}

.hide {
  display: none;
}

.right {
  float: right;
}

.left {
  float: left;
}

.btn-back {
  background-color: $color-main;
  color: $color-white;
}

.input-group {
  margin-bottom: 30px;
}