
.timeline {
  position: relative;
  margin: 0 auto;
  max-width: 80%;
  margin-bottom: 40px;
  
  /* horizontale Linie */
  &::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: $color-white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
}

.popup {
  background-color: inherit;
  padding: 10px 40px;
  position: relative;
  width: 50%;

/* Kreise */
  &:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    right: -21px;
    background-color: $color-white;
    border: 4px solid $color-main;
    top: 11px;
    border-radius: 50%;
    z-index: 1;
  }

  .fa {
    color: $color-main;
    font-size: 1.3rem;
    position: absolute;
    right: -4px;
    top: 21px;
    z-index: 10;
  }

  #person {
    right: -9px;
  }

  #persons {
    right: -12px;
  }
}

.popup-left {
  left: 0;
}

.popup-right {
  left: 50%;

  .fa {
    left: -5px;
  }

  #beschreibung {
    left: -3px;
  }

  #parent {
    left: -9px;
  }
}

/* Ecken */
.popup-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid $color-white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent $color-white;
}

.popup-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid $color-white;
  border-width: 10px 10px 10px 0;
  border-color: transparent $color-white transparent transparent;
}


.popup-right::after {
  left: -19px;
}

.popup-content {
  background-color: $color-white;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  border-radius: 6px;
  padding: 20px 30px;
  position: relative;

  h2 {
    font-size: 1.7rem;
  }
}

@media all and (max-width: 991.98px) {
  .timeline {
    max-width: 100%;
  }

/* Timeline auf der linken Seite */
  .timeline::after {
    left: 31px;
  }

/* volle Breite des Container */
  .popup {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Ecken links */
  .popup::before {
    left: 60px;
    border: medium solid $color-white;
    border-width: 10px 10px 10px 0;
    border-color: transparent $color-white transparent transparent;
  }

  .popup-left::after, .popup-right::after {
    left: 18px;
  }

  .popup-right {
    left: 0%;
  }
}