body {
  font-family: $font-main, $font-default;
}

.text-center, .align-center {
  text-align: center;
}

.text-left, .align-left {
  text-align: left;
}

.text-right, .align-left {
  text-align: right;
}