//colors
$color-main: #68B3C8;
// $color-header: #dd63ac;
// $color-accordion-background: #e6e6e6;
// $color-accordion-background2: #e3e3e3;
$color-background-content: #f4f3ef;
$color-black: #000;
$color-table: #eafaff;
// $color-closebutton: #c72731;
// $color-headlines-textlinks:#575656;
$color-text: #575656;
// $color-fliestext-teaser: #797979;
$color-white: #fff;
$border-color: rgba(102, 97, 91, 0.3);
// $screen-xs: 460px;
// $screen-sm: 600px;
// $screen-md: 1000px;
// $screen-lg: 1200px;
// $nav-height: 60px;

// fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Muli');

// $font-header: 'beyond-wonderland';
$font-default: sans-serif;
$font-main: 'Muli';
// $font-headlines: 'Great Vibes';

//sizes
$navbar-width: 260px;